$turquoise-light:#34d1c9;
$turquoise-light-dark:#24b3ab;
$turquoise-dark:#1a918b;
$turquoise-more-dark:#106964;
$gray-blue-dark:#293042;
$link-color:#adb5bd;
$link-color-active:#568fed;
$link-color-hover:white;
$link-table-color-hover:#212529;
$rose-circle:#f783ac;