#sidebar {
  // background-color: $gray-blue-dark;
  height: 100%;
  .user {
    background-color: $gray-blue-dark;
    a {
      text-decoration: none;
      color: rgb(255, 151, 113);
    }
    hr {
      color: white;
      height: 2px;
    }
  }

  .menu {
    ul {
      list-style-type: none;
      a {
        color: $gray-blue-dark;
        text-decoration: none;
      }
      .active {
        background-color: $gray-blue-dark;
        border-color: $gray-blue-dark;
        a {
          color: white;
        }
      }
    }
  }
}
