{% extends 'base.html.twig' %}

{% block title %}Modifier une Etape{% endblock %}

{% block body %}
<div class="float-end">
	{{ include('etapes/_delete_form.html.twig') }}
</div>
<a class="btn btn-primary btn-sm" href="{{ path('etapes_index') }}"><i class="fas fa-arrow-left"></i> Revenir à la
	liste</a>
<hr>
<h3>Modification de l'étape</h3>
<div class="border p-3">
	{{ include('etapes/_form.html.twig', {'button_label': 'Modifier'}) }}
</div>



{% endblock %}