{% extends 'base.html.twig' %}
{% block title %}Modifier un projet{% endblock %}
{% block body %}

<a class="btn btn-primary btn-sm" href="{{ path('projets_index') }}"><i class="fas fa-arrow-left"></i> Revenir à la
	liste</a>
<hr>
<div class="float-end">
	{{ include('projets/_delete_form.html.twig') }}
</div>
<h3>Modifier le projet</h3>
<div class="border p-3">
	{{ include('projets/_form.html.twig', {'button_label': 'Modifier'}) }}
</div>

{% endblock %}