{% extends 'base.html.twig' %}

{% block title %}Nouveau Projet{% endblock %}

{% block body %}
    <h1>Créer un nouveau projet</h1>

    {{ include('projets/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('projets_index') }}">Revenir à la liste</a>
{% endblock %}


