<form style="display: contents;" method="post" action="{{ path('clients_delete', {'id': client.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer ce client?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ client.id) }}">
    <button class="btn btn-danger btn-sm"><i class="fas fa-trash"></i> Supprimer</button>
</form>
