{% extends 'base.html.twig' %}

{% block title %}Modifier un client{% endblock %}

{% block body %}
    <h1>Modifier le client</h1>

    {{ include('clients/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a class="btn btn-primary" href="{{ path('clients_index') }}">Revenir à la liste</a>

    {{ include('clients/_delete_form.html.twig') }}
{% endblock %}


